.div1{
  background-color:#CAD3C8;
  background-image: url(/images/man.jpg);
  background-size: cover;
  height: 400px;
  padding: 20px;
  margin-bottom: 10px;
}

.child-div{
  width: 500px;
  padding: 30px 50px;
}

 .h2{
  font-size: 50px;
  text-align: justify;

}
.parent{
  background-color: #CAD3C8;
  width: 400px;
  margin: 10px auto;
  border: 3px solid red;
  border-radius: 10px;
}
